- var using_auth_server = request.query.authUrl
- var using_basic_auth = request.query.basic_auth == 1
- var using_widget = request.path === '/widget'
- var show_voxbone_branding = using_widget ? request.query.voxboneBranding : true

each script in voxboneScripts
  script(type='text/javascript', src=script)

each script in click2voxScripts
  script(type='text/javascript', src=script)

if using_auth_server
  script(src=request.query.authUrl)

script.
  var supported = voxbone.WebRTC.isWebRTCSupported();
  function makeCall(){
    VoxWidget.makeCall({ 'callerId': !{using_widget ? JSON.stringify(request.query.callerId) : "myScope.callerId"}, 'dial_pad': !{using_widget ? JSON.stringify(request.query.dialPad.toString()) : "JSON.stringify(myScope.dial_pad)"}, 'context': !{using_widget ? JSON.stringify(request.query.context) : "myScope.context"}, 'send_digits': !{using_widget ? JSON.stringify(request.query.sendDigits) : "myScope.send_digits"}, 'ibc': !{using_widget ? JSON.stringify(request.query.incompatibleBrowserConfiguration)  : "myScope.incompatible_browser_configuration"}, 'link_button_to_a_page_value': !{using_widget ? JSON.stringify(request.query.linkButtonToAPageValue) : "myScope.link_button_to_a_page_value"}, 'number': !{JSON.stringify(request.query.e164)}, 'supported': !{using_widget ? "supported" : "myScope.preview_webrtc_compatible"}});
  };
  $(document).ready(function () {
    if(supported) {
      !{using_auth_server ? "voxbone.WebRTC.init(voxrtc_config)" : ""}
      !{!using_auth_server && using_basic_auth ? "var username = " + JSON.stringify(request.query.login) + ", secret = " + JSON.stringify(request.query.password) + ";": ""}
      !{!using_auth_server && using_basic_auth ? "voxbone.WebRTC.basicAuthInit(username, secret);" : ""}
      !{!using_auth_server && using_basic_auth ? "voxbone.WebRTC.customEventHandler.authExpired= function() { voxbone.WebRTC.basicAuthInit(username, secret);};" : ""}
    } else {
      !{request.query.incompatibleBrowserConfiguration == 'show_text_html' ? "$('#launch_call').hide();$('#not-supported-message').removeClass('hidden');":""}
      !{request.query.incompatibleBrowserConfiguration == 'hide_widget' ? "$('.widget-box').hide();":""}
    }
  });
.widget-box#control(style="max-width: 400px" class="#{request.query.buttonStyle || '{{button_style}}'}")
  .not-supported.hidden#not-supported-message
    | !{using_widget ? request.query.showTextHtmlValue : "{{show_text_html_value}}"}
  if "buttonText" in request.query
    button.btn-style#launch_call #[span #{request.query.buttonText}]
  else
    button.btn-style#launch_call #[span {{buttonText}}]

  if show_voxbone_branding
    #footer.widget-footer-right(class="#{request.query.buttonStyle || '{{button_style}}'}")
      a(href="https://www.voxbone.com" target="_blank") powered by:

